{% extends "base.html" %}
{% block title %}
Welcome to Classroom Cubby
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to Classroom Cubby!</h1>
  <p class="lead">Classroom Cubby is a place for Teachers and Students to come together remotely</p>
  <p class="lead">For Students, all of your assignments are in one place! Log into your profile to see what work is up next, click on it to display the assignment from your teacher, then complete it. Once graded, that will display too.</p>
  <p class="lead">For Teachers, your profile shows your class and their assignments. You can see a breakdown by each student or each assignment with an up-to-date status for work as it is completed. Once an assignment is turned in, teachers can grade the work from the same page.</p>
  <hr class="my-4">
</div>
<div class="container">
  <a href="/demo" class="btn btn-lg btn-warning btn-block" style="margin-bottom:25px">Click here for the demo!</a>
</div>
<div style="height:500px;">
<div class="row" style="max-height:100%;">
  <div class="col-sm-6" style="max-height:100%;">
    <div class="card bg-primary mb-3" style="max-width: auto; max-height:100%;">
      <a class="btn" href="/login-student">
	<div class="card-header text-white" style="font-size:50px">Log in</div>
	<div class="card-body" style="height:500px;">
	  <h5 class="card-title" style="font-size:75px">Students</h5>
	  <p class="card-text">Ready to show them what ya got?</p>
        </div></a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card bg-info mb-3" style="max-width: auto; max-height: 100%;">
        <a class="btn" href="/login-teacher">
	<div class="card-header text-white" style="font-size:50px">Log in</div>
	<div class="card-body" style="height:500px;">
	  <h5 class="card-title" style="font-size:75px">Teachers</h5>
	  <p class="card-text">You have a special place in our heart, and a special place to log in here!</p>
	</div></a>
    </div>
  </div>
</div>
</div>

{% endblock %}
