{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="container bg-light text-center">
<h1>Login to your Classroom Cubby</h1>
<hr></hr>
  {% for category, msg in get_flashed_messages(with_categories=true) %}
  <p class="alert alert-{{ category }}">{{ msg }}</p>
  {% endfor %}

  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" %}
    <div class="form-group">
      {{field.label}}
      {{field(class_="form-control")}}
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success btn-block" style="display:block">Sign in</button>
  </form>
</div>
{% endblock %}
