{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<p>
{form}
</p>
<hr></hr>
<div class="container bg-light text-center">
<h1>Login to the Library of Progress OR Classroom Cubby</h1>
<hr></hr>
  <p>We're going to need a picture of Cubby the Classroom mascot around here</p>
  {% for category, msg in get_flashed_messages(with_categories=true) %}
  <p class="alert alert-{{ category }}">{{ msg }}</p>
  {% endfor %}

  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != "hidden" %}
    <div class="form-group">
      <span class="" >{{field.label}}</span>
      <span class="" >{{field}}</span>
    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
    </div>
    {% endfor %}
    <button class="btn btn-success btn-block" style="display:block">Sign in</button>
  </form>
</div>
{% endblock %}
